html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Branding
.brand0 {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.brand1 {
  font-family: "Times New Roman", Times, serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(150deg, white 0%, hsl(36deg 100% 66%) 100%);
}

// Loading Spinner
.lds-ring {
  position: relative;
  width: 6rem;
  height: 6rem;
  margin: 1rem 2rem 2rem;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid hsl(0, 0%, 35%);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: hsl(0, 0%, 35%) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
